if ! has sass; then
    wget \
        -O /tmp/sass.tar.gz \
    https://github.com/sass/dart-sass/releases/download/1.63.6/dart-sass-1.63.6-linux-x64.tar.gz
    tar --extract -f /tmp/sass.tar.gz --directory /tmp
    mkdir .direnv
    mv /tmp/dart-sass .direnv/bin
fi

PATH_add .direnv/bin/
