// Background colours
.bg-near-black {
  background-color: $near-black;
}

.bg-beige {
  background-color: $beige;
}

.bg-light-beige {
  background-color: $light-beige;
}

.bg-sea-foam {
  background-color: $sea-foam;
}

.bg-forest {
  background-color: $forest;
}



// Text colours
.text-near-black {
  color: $near-black;
}

.text-light-beige {
  color: $light-beige;
}
