// -------------------------------------------------------------------
// Colors
// -------------------------------------------------------------------

$white: #ffffff;
$near-black: #342E38;
$sea-foam: #8D9589;
$light-beige: #D6CCBB;
$beige: #9B826F;
$forest: #3F4A29;
